<html layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container my-3">
	<div class="row mb-3">
		<div class="col-12">
			<h1>게시글 목록</h1>
			
			<table class="table">
				<thead>
					<colgroup>
						<col width="10%">
						<col width="50%">
						<col width="20%">
						<col width="20%">
					</colgroup>
					<tr>
						<th>순번</th>
						<th>제목</th>
						<th>작성자</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post:${posts}">
						<td th:text="${post.id}">1</td>
						<td><a th:href="@{/post/detail(id=${post.id})}" th:text="${post.title}">연습</a></td>
						<td th:text="${post.user.name}">홍길동</td>
						<td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}">2024-03-20</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>